<div class="container">
  <div class="row">  
    <h2>ユーザー詳細</h2>
  </div>
  
  <div class="row">
    <h4><%= @user.name %>がフォロー<h4>
      <% @user.followed_users.each do |user| %>
        <div class="col-md-2 col-sm-4 ">
          <%= render 'info_form', user: user %>
        </div>
      <% end %>
  </div>
    
  <div class="row">
    <h4><%= @user.name %>のフォロワー</h4>
      <% @user.followers.each do |user| %>
      <div class="col-md-2 col-sm-4 ">
        <%= render 'info_form', user: user %>
      </div>
      <% end %>
  </div>
  
  <%= link_to '戻る', :back %>
</div>